#{extends 'main.html' /}
#{set title:'Tenant login to myRent' /}

<nav class="ui inverted menu">
  <a class="ui item" href="/welcome"> Welcome </a>
  <a class="ui item" href="/tsignup"> Signup  </a>
  <a class="active item" href="/tlogin"> Login  </a>
</nav> 

<section class="ui segment">
  <p> Log in here ... </p>
</section>

 <section class="ui segment">
  <h3>Log into your Tenant account</h3>
  <h5>Your username is the email you registered with</h5>
  <form action="/tauthenticate" method="POST">
    <div class="ui two column grid">
    <div class="column">
      <div class="ui fluid form segment">
        <div class="ui left icon input field">
          <input placeholder="Email" name="email" type="text">
          <i class="user icon"></i>
        </div>
        <br>
        <div class="ui left icon input field">
          <input placeholder="Password" type="password" name="password">
          <i class="lock icon"></i>
        </div><br>
        <button type="submit" class="ui blue submit button">Login</button>
      </div>
    </div>
    </div>
  </form>
</section>