#{extends 'main.html' /}
#{set title:'Edit Residence' /}

   <nav class="ui inverted menu">
    <a class="ui item" href="/home">Home</a>
    <a class="ui active item" href="/editres">Edit Residence</a>
    <a class="ui item" href="/report">Report</a>
    <a class="ui item" href="/contact">Contact</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

  <section class="ui segment">

<form action="/editresidence" method="POST">
	  <div class="ui two column grid">
	  <div class="column">
	    <div class="ui fluid form segment">
	      <div class="two fields">
	        <div class="field">
	          <input disabled="disabled" placeholder="Eircode" name="eircode" type="text" value="${residence.eircode}">
	        </div>
	        <div class="field">
	          <input placeholder="Rent" name="rent" type="text" value="${residence.rent}">
	        </div>
	        <div class="field">
	          <input name="id" type="hidden" value="${residence.id}">
	        </div>
	      </div>
	 
	      <button type="submit" class="ui blue submit button">Submit</button>
	    </div>
	  </div>
	</div>
	</form>
</section> 