#{extends 'main.html' /}
#{set title:'Output' /}

   <nav class="ui inverted menu">
    <a class="ui item" href="/home">Home</a>
    <a class="ui item" href="/config">Landlord Configuration</a>
    <a class="ui active item" href="/report">Report</a>
    <a class="ui item" href="/contact">Contact</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

  <section class="ui segment">
    <h4>Report</h4>           

        <section class="ui segment">
            <table class ="ui table segment">
                <thead>
                    <tr>
                        <th>Commissioned by</th>
                        <th>Search: radius(m)</th>
                        <th>centre(latitude)</th>
                        <th>centre(longitude)</tdh>
                    </tr>       
                </thead>
                <tbody>           
                    <tr>
                      <td>${landlord}</td>
                      <td>${circle.radius.format('#.0')}</td>
                      <td>${circle.latcenter.format('#.00000')}</td>
                      <td>${circle.lngcenter.format('#.00000')}</td>
                    </tr>         
                </tbody>            
            </table> 

            <table class="ui eight column celled table segment">
                <thead>
                    <tr>

                      <th>Residence Id</th>
                      <th>Residence Landlord</th>
                      <th>Tenant(optional)</th>
                      <th>Date registered</th>
                      <th>Rent(€)</th>
                      <th>Area(m sq.</th>
                      <th>Bedrooms</th>
                      <th>Bathrooms</th>
                      <th>Eircode</th>
                </thead>
                <tbody>
                    #{list items:residences, as:'residence'}
                      <tr>
                        <td>${residence.id}</td>
                        <td>${residence.landlord}</td>
                        <td>${residence.tenant}</td>            
                        <td>${residence.dateRegistered.format('dd MMMM yyyy', 'en')}</td>
                        <td>${residence.rent.format('#')}</td>
                        <td>${residence.area}</td>
                        <td>${residence.numberBedrooms}</td>
                        <td>${residence.numberBathrooms}</td>
                        <td>${residence.eircode}</td>
                      </tr>
                   #{/list}          
                </tbody>
            </table>
    </section>
  </section>