#{extends 'main.html' /}
#{set title:'Input' /}

<nav class="ui inverted menu">
   <a class="ui item" href="/home">Home</a>
   <a class="ui active item" href="/inputdata">Input data</a>
   <a class="ui item" href="/report">Report</a>
   <a class="ui item" href="/contact">Contact</a>
   <a class="ui item" href="/logout">Log Out</a>
 </nav>
			
<section class="ui segment">      
  <form class="ui form">
    <p>Please input residence data</p>
    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid form segment">         
          <label>Location </label> 
          <!-- <input type="text" id="geolocation" name="residence.geolocation" value="53.347298,-6.268344" readonly class="input-medium">   -->         
          <div class="ui input">
            <input id = "geolocation" value="53.347298,-6.268344" name="residence.geolocation"  type="text" readonly>
          </div>               
        </div>
   
        <!--   The monthly rent  -->
        <div class="ui two column grid">
          <div class="column">
            <div class="ui form segment">
              <!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
              <div class="ui fluid labeled input">
                <div class="ui label">
                  Monthly rent (&euro;)
                </div>   
                <input value="1500" name="residence.rent"  type="text">
             </div>
            </div>
          </div>

          <!--   The number of bedrooms  -->
          <div class="column">
            <div class="ui form segment">
              <!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
              <div class="ui fluid labeled input">
                <div class="ui label">
                  Number bedrooms:
                </div>   
                <input value="3" name="residence.numberBedrooms"  type="text" size=1em>
             </div>
            </div>
          </div>
          
          <div class="column">
            <div class="ui form segment">
              <div class="ui fluid labeled input">
                <div class="ui label">
                  Area (sq. m)
                </div>   
                <input value="110" name="residence.area"  type="text">
             </div>
            </div>
          </div>
        
        
          <!--   The number of bathrooms  -->
          <div class="column">
            <div class="ui form segment">
              
              <div class="ui fluid labeled input">
                <div class="ui label">
                  Number bathrooms:
                </div>   
                <input value="2" name="residence.numberBathrooms"  type="text" size=1em>
             </div>
            </div>
          </div>
         </div>
         
        <!--   The residence type  -->    
        <div class="ui fluid form segment">
          <div class="ui selection dropdown">
            <input name="residence.residenceType" type="hidden">
            <div class="text">Residence type</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="flat">Apartment|Flat</div>
              <div class="item" data-value="studio">Studio</div>
              <div class="item" data-value="house">House</div>
            </div>
          </div> 
        </div>
        
        <div class="column">
          <div class="ui form segment">
            <div class="ui fluid labeled input">
              <div class="ui label">
                  Eircode
                </div>   
                <input value="eircode" name="residence.eircode"  type="text">
             </div>
            </div>
          </div>

        <div class="ui fluid form segment">
          <div id="notification"></div>
        </div>
        
        <!--   Submit form button  -->
        <div class="form-actions">
          <div class="ui blue submit button">Submit Data <i class="add icon"></i></div>
          <div class="ui error message"></div>
        </div>
      </div>            
      <!-- close 1st column -->
      <!-- The map representing residence location -->
      <div class="column">
        <div class="ui raised fluid form segment">
          <div id="map_canvas"></div>
          <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
          <script src="@{'/public/javascripts/map.js'}" charset="${_response_encoding}"></script>
        </div>
      </div>
      <!-- close 2nd column -->
    </div>
    <!-- class ui two column grid -->
  </form> 
</section>

			
			
    	