#{extends 'main.html' /}
#{set title:'Welcome to My Rent' /}

<nav class="ui inverted menu">
  <a class="ui item" href="/ahome">Home</a>
  <a class="ui active item" href="/Administrator/index">Administrator</a>
  <a class="ui item" href="/alogout">Log Out</a>
</nav>

<section class="ui segment">
 <h2 class="title">Welcome to MyRent</h2>
 <h3>Your guide to residential property</h3>
 <div class="ui grid">
  <div class="ten wide column">
    <div class="ui raised segment">
      <p>
          The 2004 Residential Tenancies act gives every landlord and tenant a right to a rent
          review once each year.       
      </p>
      <p>
      The Act makes it illegal for a landlord to charge a rent higher than the market rent. 
      </p>
      <p>
      If there is a dispute about the market rent, either the landlord or the tenant can take a case to the Private Residential Tenancies Board (the PTRB).
      </p>
      <p>
      The problem with this system is in establishing an objective way of determining the market rent of a property. 
      <p>
      The purpose of <em>myrent</em> is to gather information on rents from landlords and tenants and allow any registered user to generate a report on the state of the rental market.
      </p>
      <p>      
      The success of the project will depend on the willingness of tenants and landlords to provide information about their properties.    
      </p>

    </div>
  </div>
</div>
</section>

