#{extends 'main.html' /}
#{set title:'Admin' /}
<nav class="ui inverted menu">
  <a class="ui item" href="/ahome">Home</a>
  <a class="ui active item" href="/Administrator/index">Administrator</a>
  <a class="ui item" href="/alogout">Log Out</a>
</nav>

<section class="ui segment"> 
  <h2 class="title">Welcome to MyRent</h2>
   <h3>Your guide to residential property</h3>

  <form action="/signupadmin" method="GET">
	<div class="ui fluid form segment">
	  <button type="submit" class="ui fluid  blue submit button">Register Landlord</button>
	</div>
  </form>
  
  <form action="/dellandlord" method="POST">
	<div class="ui fluid form segment">
	    <div class="ui selection dropdown names">
    <input name="email" type="hidden">
    <div class="default text">Delete Landlord</div>
    <i class="dropdown icon"></i>
      <div class="menu donor">
      #{list items: landlords, as: 'landlord'}
        <div class="item name" data-value="${landlord.email}">${landlord.email}</div>
      #{/list}
      </div>
    </div>
	  <button type="submit" class="ui fluid  blue submit button">Delete Landlord</button>
	</div>
  </form>
  
    <form action="/tsignupadmin" method="GET">
	<div class="ui fluid form segment">
	  <button type="submit" class="ui fluid  blue submit button">Register Tenant</button>
	</div>
  </form>

  <form action="/deltenant" method="POST">
	<div class="ui fluid form segment">
	    <div class="ui selection dropdown names">
    <input name="email" type="hidden">
    <div class="default text">Delete Tenant</div>
    <i class="dropdown icon"></i>
      <div class="menu donor">
      #{list items: tenants, as: 'tenant'}
        <div class="item name" data-value="${tenant.email}">${tenant.email}</div>
      #{/list}
      </div>
    </div>
	  <button type="submit" class="ui fluid  blue submit button">Delete Tenant</button>
	</div>
  </form>

</section>
<section class="ui segment">   
  <h4>Define the region for which you require a vacancy</h4>
  <form action="/tenant/generateReport" method="POST">    
    Size and position circle to select region for vacancies
    <div id="map_canvas"></div>
    <br>
    <button type="submit" class="ui blue submit button" onclick="requestReport()">Generate Report</button>
    <div style="visibility: hidden" name="circledata" id="circledata">
      <input type="text"  id="radius" name="radius">
      <input type="text"  id="latcenter" name="latcenter">
      <input type="text"  id="lngcenter" name="lngcenter">
    </div>
  </form>
</section>


 <table class="ui eight column celled table segment">
                <thead>
                    <tr>

                      <th>Residence Id</th>
                      <th>Residence Landlord</th>
                      <th>Tenant(optional)</th>
                      <th>Date registered</th>
                      <th>Rent(€)</th>
                      <th>Area(m sq.</th>
                      <th>Bedrooms</th>
                      <th>Bathrooms</th>
                      <th>Eircode</th>
                </thead>
                <tbody>
                    #{list items:residences, as:'residence'}
                      <tr>
                        <td>${residence.id}</td>
                        <td>${residence.landlord}</td>
                        <td>${residence.tenant}</td>            
                        <td>${residence.dateRegistered.format('dd MMMM yyyy', 'en')}</td>
                        <td>${residence.rent.format('#')}</td>
                        <td>${residence.area}</td>
                        <td>${residence.numberBedrooms}</td>
                        <td>${residence.numberBathrooms}</td>
                        <td>${residence.eircode}</td>
                      </tr>
                   #{/list}          
                </tbody>
            </table>

<script src="@{'/public/javascripts/jquery-2.2.3.js'}" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/tenancy.js'}" charset="${_response_encoding}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="@{'/public/javascripts/reportmap.js'}" charset="${_response_encoding}"></script>