#{extends 'main.html' /}
#{set title:'Signup for myRent' /}

<nav class="ui inverted menu">
  <a class="ui item" href="/ahome">Home</a>
  <a class="ui active item" href="/Administrator/index">Administrator</a>
  <a class="ui item" href="/alogout">Log Out</a>
</nav>

<section class="ui segment">
  <p> Sign up here ... </p>
</section>


<section class="ui segment">
	<h3>Create a MyRent Tenant account</h3>
	<h5>Register using a valid email address</h5>
	<form action="/tadminregister" method="POST">
	  <div class="ui two column grid">
	  <div class="column">
	    <div class="ui fluid form segment">
	      <div class="two fields">
	        <div class="field">
	          <input placeholder="First Name" name="tenant.firstName" type="text">
	        </div>
	        <div class="field">
	          <input placeholder="Last Name" name="tenant.lastName" type="text">
	        </div>
	      </div>
	      <div class="ui left icon input field">
          <input placeholder="Email" name="tenant.email" type="text">
          <i class="user icon"></i>
        </div>
        <br>
        <div class="ui left icon input field">
          <input placeholder="Password" name="tenant.password" type="password">
          <i class="lock icon"></i>
        </div>
	     
	      <button type="submit" class="ui blue submit button">Submit</button>
	    </div>
	  </div>
	</div>
	</form>
</section> 