#{extends 'main.html' /}
#{set title:'Input' /}

<nav class="ui inverted menu">
   <a class="ui item" href="/home">Home</a>
   <a class="ui active item" href="/config">Landlord Configuration</a>
   <a class="ui item" href="/report">Report</a>
   <a class="ui item" href="/contact">Contact</a>
   <a class="ui item" href="/logout">Log Out</a>
 </nav>

  <form action="/landlords/editprofile" method="GET">
	<div class="ui fluid form segment">
	  <button type="submit" class="ui fluid  blue submit button">Edit Landlord Profile</button>
	</div>
  </form>
			
  
  <form action="/inputdata" method="GET">
	<div class="ui fluid form segment">
	  <button type="submit" class="ui fluid  blue submit button">Add Residence</button>
	</div>
  </form>
  
  
  <form action="/editres" method="GET">
	<div class="ui fluid form segment">
	    <div class="ui selection dropdown names">
    <input name="id" type="hidden">
    <div class="default text">Edit Residence</div>
    <i class="dropdown icon"></i>
      <div class="menu donor">
      #{list items: residences, as: 'residence'}
        <div class="item name" data-value="${residence.id}">${residence.geolocation}</div>
      #{/list}
      </div>
    </div>
	  <button type="submit" class="ui fluid  blue submit button">Edit Residence</button>
	</div>
  </form>
  
  
  <form action="/delres" method="GET">
	<div class="ui fluid form segment">
	    	    <div class="ui selection dropdown names">
    <input name="id" type="hidden">
    <div class="default text">Delete Residence</div>
    <i class="dropdown icon"></i>
      <div class="menu donor">
      #{list items: residences, as: 'residence'}
        <div class="item name" data-value="${residence.id}">${residence.geolocation}</div>
      #{/list}
      </div>
    </div>
	  <button type="submit" class="ui fluid  blue submit button">Delete Residence</button>
	</div>
  </form>	