#{extends 'main.html' /}
#{set title:'Input' /}

<nav class="ui inverted menu">
   <a class="ui item" href="/home">Home</a>
   <a class="ui active item" href="/config">Landlord Configuration</a>
   <a class="ui item" href="/report">Report</a>
   <a class="ui item" href="/contact">Contact</a>
   <a class="ui item" href="/logout">Log Out</a>
 </nav>

<form action="/editlandlord" method="POST">
	  <div class="ui two column grid">
	  <div class="column">
	    <div class="ui fluid form segment">
	      <div class="two fields">
	        <div class="field">
	          <input placeholder="First Name" name="firstName" type="text">
	        </div>
	        <div class="field">
	          <input placeholder="Last Name" name="lastName" type="text">
	        </div>
	      </div>
	      <div class="ui left icon input field">
          <input placeholder="Email" name="email" type="text">
          <i class="user icon"></i>
        </div>
        <br>
        <div class="ui left icon input field">
          <input placeholder="Password" name="password" type="password">
          <i class="lock icon"></i>
        </div>
	 
	      <button type="submit" class="ui blue submit button">Submit</button>
	    </div>
	  </div>
	</div>
	</form>
