#{extends 'main.html' /}
#{set title:'Signup for Donate' /}

<nav class="ui inverted menu">   
   <a class="item" href="/welcome"> Welcome </a>
   <a class="active item" href="/signup"> Signup </a>
   <a class="item" href="/login">  Login </a>  
 </nav> 

<section class="ui segment">
  <p> Sign up here ... </p>
</section>


<section class="ui segment">
	<h3>Create a MyRent Landlord account</h3>
	<h5>Register using a valid email address</h5>
	<form action="/register" method="POST">
	  <div class="ui two column grid">
	  <div class="column">
	    <div class="ui fluid form segment">
	      <div class="two fields">
	        <div class="field">
	          <input placeholder="First Name" name="landlord.firstName" type="text">
	        </div>
	        <div class="field">
	          <input placeholder="Last Name" name="landlord.lastName" type="text">
	        </div>
	      </div>
	      <div class="ui left icon input field">
          <input placeholder="Email" name="landlord.email" type="text">
          <i class="user icon"></i>
        </div>
        <br>
        <div class="ui left icon input field">
          <input placeholder="Password" name="landlord.password" type="password">
          <i class="lock icon"></i>
        </div>
	      <div class="inline field">
	        <div class="ui checkbox">
	          <input name="landlord.conditions" type="checkbox">
	          <label for="landlord.conditions">I agree to the terms and conditions</label>
	        </div>
	      </div>
	      <button type="submit" class="ui blue submit button">Submit</button>
	    </div>
	  </div>
	</div>
	</form>
</section> 